<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>SB-Labs Vue.js Example</title>
</head>

<body>  
<div id="app">
  <h1>{{ radio }}</h1>
  <input type="radio" v-model=' radio ' value="one"> 1
  <input type="radio" v-model=' radio ' value="two"> 2
  <input type="radio" v-model=' radio ' value="three"> 3
  <h1>{{ select }}</h1>
  <select v-model=' select '>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
  </select>
  <h1>{{ textarea }}</h1>
  <textarea v-model=' textarea '></textarea>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
const app = new Vue({
  el: "#app",
  data: {
    radio: "",
    textarea: "",
    select: ""
  }
});
</script>
</body>

</html>